{% extends 'base.html' %}

{% block content %}
<h1>{{outfit.name}}</h1>
<img src={{outfit.item1}}>
<img src={{outfit.item2}}>
<img src={{outfit.item3}}>
<img src={{outfit.item4}}>
<img src={{outfit.item5}}>


<p><form method='POST' action= "/outfits/{{outfit._id}}/delete">
    <button class='btn btn-primary' type='submit'>Delete</button>
</form></p>

<p><form method='POST' action= "/outfits/{{outfit._id}}/edit">
    <button class='btn btn-primary' type='submit'>Edit</button>
</form></p>



{% endblock %}