<!-- templates/base.html -->
<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Fitspo</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='/styles.css') }}">
</head>
<body>
  
  <div class="navbar ">
    <a class="navbar-brand" href="/"  style="width: 200px">
      <img src="/static/fitspobrown.jpg" style="width: 200px">
    </a>
    <div class="row my-auto">
    <a class = "nav-item nav-link" href="/outfits"> outfits </a>
    <a class = "nav-item nav-link" href="/wishlist"> wishlist </a>
    <a class = "nav-item nav-link" href="/items"> items </a>
  </div>
</div>
    {% block content %}
        BODY CONTENT GOES HERE
    {% endblock %}

</body>
</html>
