<!-- templates/items_show.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="container row">
<div class="col-lg-6 my-5">
    <img src={{item.link}}>

</div>
<div class="col-lg-6 my-5">
    <h1>{{ item.name }}</h1><br>
    <h3>Item Category: {{ item.category }} </h3><br>
    <h3>Item Color: {{ item.color }}</h3>
    <div class="row">
    <p><form method='POST' action= "/items/{{item._id}}/delete">
        <button type='submit' class="mx-2">Delete</button>
        </form></p>
    <p><form method='POST' action= "/items/{{item._id}}/edit">
            <button type='submit' class="mx-2">Edit</button>
        </form></p>
    </div>
</div>
</div>
</div>


{% endblock %}